<template>
  <require from="bootstrap/css/bootstrap.css"></require>
  <require from="./styles.css"></require>
  <require from="./board-list"></require>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <i class="fa fa-user"></i>
        <span>Eek.</span>
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <board-list class="col-md-12"></boardlist>
    </div>
  </div>
</template>
