<template>
    <div class="board-list">
        <ul class="list-group">
            <li repeat.for="board of boards" class="list-group-item">
                <h4 class="list-group-item-heading">${board.board} ${board.title}</h4>
                <p class="list-group-item-text">${board.meta_description}</p>
            </li>
        </ul>
    </div>
</template