<template>
    <div class="contact-list">
        <ul class="list-group">
            <li repeat.for="contact of contacts" class="list-group-item ${contact.id === $parent.selectedId ? 'active' : ''}">
                <a route-href="route: contacts; params.bind: {id: contact.id}" click.delegate="$parent.select(contact)">
                    <h4 class="list-group-item-heading">${contact.firstName} ${contact.lastName}</h4>
                    <p class="list-group-item-text">${contact.item}</p>
                </a>
            </li>
        </ul>
    </div>
</template>